.renderer-title {
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.renderer-code, .renderer-table, .renderer-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.renderer-text {
    margin-bottom: 10px;
}