@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

input:invalid {
    outline: none !important;
}

#wrapper {
    padding: 10px;
    margin-left: 320px;
    margin-right: 320px;
}

:root[data-mantine-color-scheme="dark"] #dark-theme-icon {
    display: none;
}

:root[data-mantine-color-scheme="light"] #light-theme-icon {
    display: none;
}


@media only screen and (max-width: 1500px) {
    #toc-navbar {
        display: none;
    }

    #wrapper {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    #components-navbar {
        display: none;
    }

    #wrapper {
        margin-left: 0;
    }
}
